@import "tailwindcss";

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #DF4300B2;
    border-radius: 6px;
    border: 2px solid #1e1e1e;
}